<!doctype html>
<html>

<head>
	 {% load static %}
    {% load staticfiles %}
    {% load static from staticfiles %}
    <title>Line Styles</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
     <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script> 
   <!-- <script src="{% static 'burnDown/Chart.bundle.min.js'  %}"></script>  -->
    <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    
    <script type="text/javascript">
//////////////////////////////////////////////////////////
		// register the grid component
	Vue.component('demo-grid', {
	  template: '#grid-template',
	  props: {
	    data: Array,
	    columns: Array,
	    filterKey: String
	  },
	  data: function () {
	    var sortOrders = {}
	    this.columns.forEach(function (key) {
	      sortOrders[key] = 1
	    })
	    return {
	      sortKey: '',
	      sortOrders: sortOrders
	    }
	  },
	  computed: {
	    filteredData: function () {
	      var sortKey = this.sortKey
	      var filterKey = this.filterKey && this.filterKey.toLowerCase()
	      var order = this.sortOrders[sortKey] || 1
	      var data = this.data
	      if (filterKey) {
	        data = data.filter(function (row) {
	          return Object.keys(row).some(function (key) {
	            return String(row[key]).toLowerCase().indexOf(filterKey) > -1
	          })
	        })
	      }
	      if (sortKey) {
	        data = data.slice().sort(function (a, b) {
	          a = a[sortKey]
	          b = b[sortKey]
	          return (a === b ? 0 : a > b ? 1 : -1) * order
	        })
	      }
	      return data
	    }
	  },
	  filters: {
	    capitalize: function (str) {
	      return str.charAt(0).toUpperCase() + str.slice(1)
	    }
	  },
	  methods: {
	    sortBy: function (key) {
	      this.sortKey = key
	      this.sortOrders[key] = this.sortOrders[key] * -1
	    }
	  }
	})
	///////////////////////////////////////////////////////////////
    
    </script>
    <style>
    canvas{
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    body {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  color: #444;
}

table {
  border: 2px solid #42b983;
  border-radius: 3px;
  background-color: #fff;
}

th {
  background-color: #42b983;
  color: rgba(255,255,255,0.66);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

td {
  background-color: #f9f9f9;
}

th, td {
  min-width: 50px;
  padding: 10px 20px;
}

th.active {
  color: #fff;
}

th.active .arrow {
  opacity: 1;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66;
}

.arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
}

.arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
}
    </style>
   
</head>

<body>
<!--   if (window!=window.top) { /* I'm in a frame! */ }
-->
<div >
  <a href="{% url 'burnDown:index' %}">< Back to home</a> | <a target="_blank" href="{{ request.get_full_path }}">Open in new tab </a>
  
</div>




    <div style="width:100%;">
        <canvas id="canvas"></canvas>
    </div>
    
    
    
    
    <!-- component template -->
<script type="text/x-template" id="grid-template">
{% verbatim %}
  <table>
    <thead>
      <tr>
        <th v-for="key in columns"
          @click="sortBy(key)"
          :class="{ active: sortKey == key }">
          {{ key | capitalize }}
          <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="entry in filteredData">
        <td v-for="key in columns">
          <span v-html="entry[key]"></span> 
        </td>
      </tr>
    </tbody>
  </table>
{% endverbatim %}
</script>


{% if sprint.start_date %}<p><strong>{{ sprint }}</strong></p>
    {% else %}
    Nothing to see here
    {% endif %}


    <div id="app">
        {% verbatim %}
        <!-- <div v-for="pbiData in pbisData">
            <a target="_blank" v-bind:href="pbiData.link">{{ pbiData.local_id }}</a> {{ pbiData.pbi_type }} | {{ pbiData.title }} - {{ pbiData.story_points }} points {{ pbiData.state }} 
            
        </div>-->
        <div v-if="textData.total_day != 0">
        	On {{ textData.date}},  {{ textData.done_count}} user story are complete, over {{textData.total_count}} ({{ textData.done_day}} / {{ textData.total_day}} SP)  <span v-if="textData.interruption_day  != 0">{{textData.interruption_count }} interruptions in this sprint (for {{textData.interruption_day }} SP)</span>
        </div>
        {% endverbatim %}
    </div>
    <p>
<!-- demo root element -->
<div id="demo">
  <form id="search">
    Search <input name="query" v-model="searchQuery">
  </form>
  <demo-grid
    :data="gridData"
    :columns="gridColumns"
    :filter-key="searchQuery">
  </demo-grid>
</div>
    
    
    

    
    
    <script>
        var pbis;
     	var loadChart = function(self) {
     		
     			
                ///////////////////////////////////////////////////////////
                //get days for each weekday of sprint

                var startDate = moment("{{sprint.start_date|date:'d m Y'}}",'DD MM YYYY') ;
                var endDate = moment(" {{sprint.end_date|date:'d m Y'}}",'DD MM YYYY' ) ;

               
                var days = []
                if (startDate.isSameOrBefore(endDate));
                {
                    currentDate = startDate;
                    while (currentDate.isSameOrBefore(endDate))
                    {
                        if(currentDate.isoWeekday() != 6 && currentDate.isoWeekday() != 7)
                        {
                            days.push(currentDate.format('dd DD/MM'))
                        }
                        currentDate = currentDate.add(1, 'days');
                    }  
                }

                //sum of story points
                var pbiUniqueDates = [
                    {% for pbi in pbis %}
                     "{{pbi.snapshot_date}}",    
                    {% endfor %}
                    ]
                var SPData = [
                    {% for pbi in pbis %}
                     "{{pbi.spcount}}",    
                    {% endfor %}
                    ]

                var idealSP = [SPData[0]];

                for (var k = 0; k <= days.length-1; k++) {
                    idealSP[k+1] = idealSP[k] - SPData[0]/(days.length-1)
                }  

                var config = {
                    type: 'line',
                    data: {
                        labels: days,
                        datasets: [{
                            label: "Ideal",
                            fill: false,
                            backgroundColor: 'rgb(54, 162, 235)',
                            borderColor: 'rgb(54, 162, 235)',
                            data: idealSP,
                        }, {
                            label: "Reality",
                            fill: false,
                            backgroundColor: 'rgb(75, 192, 192)',
                            borderColor: 'rgb(75, 192, 192)',
                            borderDash: [5, 5],
                            data: SPData,
                            lineTension: 0,
                            pointRadius: 10,
                            pointHoverRadius: 15,
                        }]
                    },
                    options: {
                        responsive: true,
                        spanGaps:true,
                        elements: {
                            point: {
                                pointStyle: 'rectRot'
                            }
                        },
                        title:{
                            display:true,
                            text:'Burndown {% if sprint.start_date %}{{ sprint }}{% endif %}'
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: false,
                        },
                        hover: {
                            mode: 'nearest',
                            intersect: true
                        },
                        scales: {
                            xAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Date'
                                }
                            }],
                            yAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Story points'
                                }
                            }]
                        },
                        'onClick' : function(evt, truc2, truc3, truc4, truc5){
                            var nearestPoint = window.myLine.getElementsAtEventForMode(evt, 'index', { intersect: false });
                            if(typeof nearestPoint != 'undefined')
                            {
                                var dateIndex =  nearestPoint[0]._index;
                             	$.getJSON('{% url 'burnDown:pbisByDate' sprint.id %}',{_date : moment(days[dateIndex] ,'dd DD/MM').format('DD MM YYYY')},
                                    function(data)
                                    {
                                        self.pbisData = data;
                                        
                                        var _tableData =[]
                                        self.textData.total_day = 0;
                                        self.textData.total_count = 0;
                                        self.textData.done_day = 0;
                                        self.textData.done_count = 0;
                                        self.textData.interruption_day = 0;
                                        self.textData.interruption_count = 0;
                                        //pbiData.local_id }}</a> {{ pbiData.pbi_type }} | {{ pbiData.title }} - {{ pbiData.story_points }} points {{ pbiData.state }}
                                        
                                        for (var k = 0; k <= data.length-1; k++) {
                                        	//fulfill the table
                                        	var _temp = {}
                                            _temp.ID = '<a target="_blank" href="'+data[k].link+'">'+data[k].local_id+'</a>' ;
                                            
                                            if(data[k].is_interruption)
                                            {
                                            	_temp.Title = '<span style="color:red">'+data[k].title+'; Added in the sprint<span>';                                           	
                                            }
                                            else
                                           	{
                                            	_temp.Title = data[k].title;
                                           	}
                                            
                                            
                                        	_temp.Type = data[k].pbi_type;
                                        	_temp.state = data[k].state;
                                        	_temp.story_points = data[k].story_points;
                                        	_temp.Edit = '<a target="_blank" href="{% url 'admin:index' %}burnDownBackEnd/pbi/'+data[k].id+'/change/">Edit</a>'
                                        	_tableData.push(_temp)
                                        	
                                        	//get our stats
                                        	self.textData.total_day += data[k].story_points;
                                        	self.textData.total_count +=1;
                                        	self.textData.date = data[k].snapshot_date
                                        	if(data[k].state == 'RESOLVED' || data[k].state == 'CLOSED')
                                       		{
                                        		self.textData.done_count += 1;
                                        		self.textData.done_day += data[k].story_points;
                                       		}
                                        	if(data[k].is_interruption)
                                       		{
                                        		self.textData.interruption_count += 1;
                                        		self.textData.interruption_day += data[k].story_points;
                                       		}
                                        	
                                        }  
                                        
                                        demo.$data.gridData = _tableData;
                                    }
                                )
                            }
                        }
                    }
                }
                  var ctx = document.getElementById("canvas").getContext("2d");
                window.myLine = new Chart(ctx, config);
                   
        
                
                ///////////////////////////////////////////////////

                
        };

        var App = new Vue({
          el: '#app',
          data: {
            pbisData: [], // initialize empty array
            textData: { 
            	'total_day': 0,
            	'done_day': 0,
            	'interruption_day': 0,
            	'total_count' : 0
            },
            
          },
          mounted() { // when the Vue app is booted up, this is run automatically.
            var self = this // create a closure to access component in the callback below
            loadChart(self)
            
          }
        })
        
     // bootstrap the demo
        var demo = new Vue({
          el: '#demo',
          data: {
            searchQuery: '',
            gridColumns: ['ID', 'story_points', 'Title','state','Type','Edit'],
            gridData: [
              { }
            ]
          }
        })
        
        /*window.onload = function() {
            loadChart()
          };  
        */
    </script>
</body>

</html>
